<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.huacloud.taxpreference.services.producer.mapper.ConsultationMapper">


    <select id="queryConsultationList"
            resultType="cn.huacloud.taxpreference.services.producer.entity.vos.QueryConsultationVO">
        select tc.industry_names industryNames,
        tc.tax_categories_names taxCategoriesNames,
        tc.tax_practices taxPractices,
        tc.create_time createTime,
        tcc.content content,
        tc.status status,
        tc.id id
        from t_consultation as tc
        left join t_consultation_content as tcc
        on tc.id=tcc.consultation_id and tcc.content_type='QUESTION'
        <where>
            <if test="queryDTO.taxCategoriesCodes!=null and queryDTO.taxCategoriesCodes.size>0 ">
                and (1!=1
                <foreach collection="queryDTO.taxCategoriesCodes" item="taxCategories">
                    or FIND_IN_SET(#{taxCategories},tc.tax_categories_codes)
                </foreach>
                )
            </if>
            <if test="queryDTO.taxPractices!=null and queryDTO.taxPractices!='' ">
                and tc.tax_practices=#{queryDTO.taxPractices}
            </if>
            <if test="queryDTO.status!=null ">
                and tc.status = #{queryDTO.status}
            </if>
            <if test="queryDTO.keyword!=null and queryDTO.keyword!='' ">
                and tcc.content like concat('%',#{queryDTO.keyword},'%')
            </if>
            <if test="queryDTO.startTime!=null ">
                and tc.create_time >= #{queryDTO.startTime}
            </if>
            <if test="queryDTO.endTime!=null ">
                and tc.create_time &lt;= #{queryDTO.endTime}
            </if>
        </where>
        order by tcc.create_time desc

    </select>
</mapper>