<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huacloud.taxpreference.services.producer.mapper.FrequentlyAskedQuestionMapper">


    <select id="selectPageList"
            resultType="cn.huacloud.taxpreference.services.producer.entity.vos.FrequentlyAskedQuestionVO">
        SELECT id,
        policies_ids,
        title,
        content,
        doc_source,
        release_date,
        frequently_asked_question_status,
        answer_organization
        FROM t_frequently_asked_question
        <where>
            <if test="frequentlyAskedQuestionQueryDTO.title!=null">
                and title like "%"#{frequentlyAskedQuestionQueryDTO.title}"%"
            </if>
            <if test="frequentlyAskedQuestionQueryDTO.docSource!=null">
                and doc_source like "%"#{frequentlyAskedQuestionQueryDTO.docSource}"%"
            </if>
            <if test="frequentlyAskedQuestionQueryDTO.keyword!=null and frequentlyAskedQuestionQueryDTO.keyword!=''">
                and (title like "%"#{frequentlyAskedQuestionQueryDTO.keyword}"%"
                or doc_source like "%"#{frequentlyAskedQuestionQueryDTO.keyword}"%")
            </if>
            <if test="frequentlyAskedQuestionQueryDTO.frequentlyAskedQuestionStatus!=null and frequentlyAskedQuestionQueryDTO.frequentlyAskedQuestionStatus!=''">
                and frequently_asked_question_status=#{frequentlyAskedQuestionQueryDTO.frequentlyAskedQuestionStatus}
            </if>
            <if test="frequentlyAskedQuestionQueryDTO.startTime!=null ">
                and release_date >= #{frequentlyAskedQuestionQueryDTO.startTime}
            </if>
            <if test="frequentlyAskedQuestionQueryDTO.endTime!=null ">
                and release_date &lt;= #{frequentlyAskedQuestionQueryDTO.endTime}
            </if>
            <if test="frequentlyAskedQuestionQueryDTO.answerOrganization!=null ">
                and answer_organization &lt;= #{frequentlyAskedQuestionQueryDTO.answerOrganization}
            </if>
            <if test="frequentlyAskedQuestionQueryDTO.policiesIds!=null and frequentlyAskedQuestionQueryDTO.policiesIds.size>0 ">
                <foreach collection="frequentlyAskedQuestionQueryDTO.policiesIds" item="policiesId">
                    and FIND_IN_SET(#{policiesId},policiesIds)
                </foreach>
            </if>
            and deleted=0
        </where>
        order by ${sort} DESC,update_time DESC
    </select>
</mapper>