<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.huacloud.taxpreference.services.producer.mapper.ProcessServiceMapper">
    <update id="updateByTaxPreferenceId">
        update t_process
        set latest_process =0
        where tax_preference_id = #{taxPreferenceId}
    </update>
    <select id="queryProcessList"
            resultType="cn.huacloud.taxpreference.services.producer.entity.vos.ProcessListVO">
        select p.id as id,
        t.tax_preference_name as taxPreferenceName,
        t.tax_categories_name as taxCategoriesName,
        p.process_status as processStatus,
        p.create_time as createTime,
        u.username as userName
        from t_tax_preference t,
        t_user u,
        t_process p
        <where>
            and t.input_user_id = u.id
            and t.id = p.tax_preference_id
            <if test="query.keyword!=null and query.keyword!= ''">
                and t.tax_preference_name like "%"#{query.keyword}"%"
            </if>
            <if test="query.taxCategoriesCode!=null and query.taxCategoriesCode!= ''">
                and t.tax_categories_code = #{query.taxCategoriesCode}
            </if>
            <if test="query.startTime!=null ">
                and t.create_time >= #{query.startTime}
            </if>
            <if test="query.endTime!=null ">
                and t.create_time &lt;= #{query.endTime}
            </if>
            <if test="query.userName!=null and query.userName!= ''">
                and u.username = #{query.userName}
            </if>
            <if test="!query.processStatus and query.processStatus!=null">
                and p.process_status='NOT_APPROVED'
            </if>
            <if test="query.processStatus and query.processStatus!=null">
                and p.process_status!='NOT_APPROVED'
            </if>
            and latest_process=1
            and t.deleted = 0

        </where>
    </select>
    <select id="selectByTaxPreferenceId" resultType="java.lang.String">
        select process_status as processStatus
        from t_process
        where tax_preference_id = #{id}
          and latest_process = 1
    </select>

</mapper>