<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.huacloud.taxpreference.services.producer.mapper.TaxPreferenceMapper">
    <insert id="insertTaxPreference" keyProperty="id" useGeneratedKeys="true"
            parameterType="cn.huacloud.taxpreference.services.producer.entity.dos.TaxPreferenceDO">
        insert into t_tax_preference (tax_categories_name, tax_categories_code, taxpayer_register_type_name,
                                      taxpayer_register_type_code, taxpayer_type_name, taxpayer_type_code,
                                      industry_names, industry_codes, enterprise_type_names, enterprise_type_codes,
                                      taxpayer_credit_ratings, tax_preference_name, digest, keep_query_data,
                                      submit_tax_data, submit_time_limit, submit_description, create_time, update_time,
                                      deleted)
        values (#{taxCategoriesName}, #{taxCategoriesCode}, #{taxpayerRegisterTypeName},
                #{taxpayerRegisterTypeCode}, #{taxpayerTypeName}, #{taxpayerTypeCode},
                #{industryNames}, #{industryCodes}, #{enterpriseTypeNames},
                #{enterpriseTypeCodes}, #{taxpayerCreditRatings}, #{taxPreferenceName},
                #{digest}, #{keepQueryData}, #{submitTaxData},
                #{submitTimeLimit}, #{submitDescription}, #{createTime},
                #{updateTime}, #{deleted})
    </insert>
    <update id="updateDeletedById">
        update t_tax_preference set deleted=1 where id=#{id}
    </update>
    <select id="queryTaxPreferenceVOList"
            resultType="cn.huacloud.taxpreference.services.producer.entity.vos.QueryTaxPreferencesVO">
        select p.id,p.tax_preference_name as taxPreferenceName,p.industry_names as industryNames ,p.taxpayer_type_name
        as taxpayerTypeName,
        p.tax_categories_name as taxCategoriesName,p.enterprise_type_names as enterpriseTypeNames,
        p.validity,p.create_time as createTime,p.taxpayer_credit_ratings as taxpayerCreditRatings,
        p.taxpayer_register_type_name as taxpayerRegisterTypeName
        from t_tax_preference p
        <where>
            and p.deleted=0
            <if test="queryTaxPreferencesDTO.keyword!=null and queryTaxPreferencesDTO.keyword!= ''">
                and p.tax_preference_name like "%"#{queryTaxPreferencesDTO.keyword}"%"
            </if>
            <if test="queryTaxPreferencesDTO.taxCategoriesCode != null and queryTaxPreferencesDTO.taxCategoriesCode != '' ">
                and p.tax_categories_code= #{queryTaxPreferencesDTO.taxCategoriesCode}
            </if>
            <if test="queryTaxPreferencesDTO.taxpayerRegisterTypeCode != null and queryTaxPreferencesDTO.taxpayerRegisterTypeCode != '' ">
                and p.taxpayer_register_type_code=#{queryTaxPreferencesDTO.taxpayerRegisterTypeCode}
            </if>
            <if test="queryTaxPreferencesDTO.taxpayerTypeCode != null and queryTaxPreferencesDTO.taxpayerTypeCode != '' ">
                and p.taxpayer_type_code=#{queryTaxPreferencesDTO.taxpayerTypeCode}
            </if>
            <if test="queryTaxPreferencesDTO.validity!=null and queryTaxPreferencesDTO.validity!='' ">
                and p.validity=#{queryTaxPreferencesDTO.validity}
            </if>

            <if test="queryTaxPreferencesDTO.releaseMatter.getValue()==@cn.huacloud.taxpreference.common.enums.taxpreference.ReleaseMatter@MY_RELEASED.getValue()">
                and p.input_user_id=#{userId} and tax_preference_status='已发布'
            </if>
            <if test="queryTaxPreferencesDTO.releaseMatter.getValue()==@cn.huacloud.taxpreference.common.enums.taxpreference.ReleaseMatter@MY_UNRELEASED.getValue()">
                and p.input_user_id=#{userId} and tax_preference_status='待发布'
            </if>
            <if test="queryTaxPreferencesDTO.startTime!=null ">
                and p.create_time >= #{queryTaxPreferencesDTO.startTime}
            </if>
            <if test="queryTaxPreferencesDTO.endTime!=null ">
                and p.create_time &lt;= #{queryTaxPreferencesDTO.endTime}
            </if>
            <if test="queryTaxPreferencesDTO.taxpayerCreditRatings!=null and queryTaxPreferencesDTO.taxpayerCreditRatings.size>0 ">
                and (1!=1
                <foreach collection="queryTaxPreferencesDTO.taxpayerCreditRatings" item="credit">
                    or FIND_IN_SET(#{credit},p.taxpayer_credit_ratings)
                </foreach>
                )
            </if>
            <if test=" queryTaxPreferencesDTO.industryCodes!=null and queryTaxPreferencesDTO.industryCodes.size>0 ">
                and (1!=1
                <foreach collection="queryTaxPreferencesDTO.industryCodes" item="industryCode">
                    or FIND_IN_SET(#{industryCode},p.industry_codes)
                </foreach>
                )
            </if>
            <if test="queryTaxPreferencesDTO.enterpriseTypeCodes!=null and queryTaxPreferencesDTO.enterpriseTypeCodes.size>0 ">
                and (1!=1
                <foreach collection="queryTaxPreferencesDTO.enterpriseTypeCodes" item="enterpriseTypeCode">
                    or FIND_IN_SET(#{enterpriseTypeCode},p.enterprise_type_codes)
                </foreach>
                )
            </if>


        </where>
        order by ${sort} DESC

    </select>

    <select id="selectByIdList" resultType="cn.huacloud.taxpreference.services.producer.entity.dos.TaxPreferenceDO">
       SELECT
        tp.id,
        tp.tax_categories_name
       FROM
        t_policies t
        LEFT JOIN t_tax_preference_policies ttp ON t.id = ttp.policies_id
        LEFT JOIN t_tax_preference tp ON ttp.tax_preference_id = tp.id
       WHERE
        t.id =#{policiesId}
    </select>
</mapper>