<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.huacloud.taxpreference.services.producer.mapper.TaxPreferencePoliciesMapper">
    <insert id="insertTaxPreferencePolicies"
            parameterType="cn.huacloud.taxpreference.services.producer.entity.dos.TaxPreferencePoliciesDO">
        INSERT INTO t_tax_preference_policies ( tax_preference_id, policies_id, validity_begin_date, validity_end_date,sort,digest )
        VALUES ( #{taxPreferenceId}, #{policiesId}, #{validityBeginDate}, #{validityEndDate}, #{sort},#{digest})
    </insert>
    <select id="getPoliciesDigestSearchVOList" resultType="cn.huacloud.taxpreference.services.consumer.entity.vos.PoliciesDigestSearchVO">
        SELECT tp.title                 title,
               tp.doc_code              doc_code,
               ttpp.validity_begin_date validity_begin_date,
               ttpp.validity_end_date   validity_begin_date,
               ttpp.digest              validity_begin_date
        FROM t_tax_preference_policies ttpp
                 LEFT JOIN t_policies tp
                           ON ttpp.policies_id = tp.id
        WHERE ttpp.tax_preference_id = #{taxPreferenceId}
    </select>
</mapper>