<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.huacloud.taxpreference.services.producer.mapper.TaxPreferenceMapper">
    <insert id="insertTaxPreference" keyProperty="id" useGeneratedKeys="true"
            parameterType="cn.huacloud.taxpreference.services.producer.entity.dos.TaxPreferenceDO">
        insert into t_tax_preference (tax_categories_name, tax_categories_code, taxpayer_register_type_name,
                                      taxpayer_register_type_code, taxpayer_type_name, taxpayer_type_code,
                                      industry_name, industry_code, enterprise_type_name, enterprise_type_code,
                                      taxpayer_credit_rating, tax_preference_name, digest, keep_query_data,
                                      submit_tax_data, submit_time_limit, submit_description, create_time, update_time,
                                      deleted)
        values (#{taxCategoriesName}, #{taxCategoriesCode}, #{taxpayerRegisterTypeName},
                #{taxpayerRegisterTypeCode}, #{taxpayerTypeName}, #{taxpayerTypeCode},
                #{industryName}, #{industryCode}, #{enterpriseTypeName},
                #{enterpriseTypeCode}, #{taxpayerCreditRating}, #{taxPreferenceName},
                #{digest}, #{keepQueryData}, #{submitTaxData},
                #{submitTimeLimit}, #{submitDescription}, #{createTime},
                #{updateTime}, #{deleted})
    </insert>
    <select id="queryTaxPreferenceVOList"
            resultType="cn.huacloud.taxpreference.services.producer.entity.vos.QueryTaxPreferencesVO">
        select p.tax_preference_name as taxPreferenceName,p.taxpayer_type_name as taxpayerTypeName,
        p.tax_categories_name as taxCategoriesName,p.enterprise_type_name as enterpriseTypeName,
        p.validity
        from t_tax_preference p
        <where>
            <if test="queryTaxPreferencesDTO.taxCategoriesCode != null and queryTaxPreferencesDTO.taxCategoriesCode != '' ">
                and p.tax_categories_code= #{queryTaxPreferencesDTO.taxCategoriesCode}
            </if>
            <if test="queryTaxPreferencesDTO.taxpayerRegisterTypeCode != null and queryTaxPreferencesDTO.taxpayerRegisterTypeCode != '' ">
                and p.taxpayer_register_type_code=#{queryTaxPreferencesDTO.taxpayerRegisterTypeCode}
            </if>
            <if test="queryTaxPreferencesDTO.taxpayerTypeCode != null and queryTaxPreferencesDTO.taxpayerTypeCode != '' ">
                and p.taxpayer_type_code=#{queryTaxPreferencesDTO.taxpayerTypeCode}
            </if>
            <if test="queryTaxPreferencesDTO.industryCode != null and queryTaxPreferencesDTO.industryCode != '' ">
                and p.industry_code=#{queryTaxPreferencesDTO.industryCode}
            </if>
            <if test="queryTaxPreferencesDTO.enterpriseTypeCode != null and queryTaxPreferencesDTO.enterpriseTypeCode != '' ">
                and p.enterprise_type_code=#{queryTaxPreferencesDTO.enterpriseTypeCode}
            </if>
            <if test="queryTaxPreferencesDTO.validity != null and queryTaxPreferencesDTO.validity != '' ">
                and p.validity=#{queryTaxPreferencesDTO.validity}
            </if>
        </where>
    </select>

</mapper>