<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.huacloud.taxpreference.services.common.mapper.DocStatisticsMapper">

    <update id="update" parameterType="cn.huacloud.taxpreference.services.common.entity.dos.DocStatisticsDO">
        update t_doc_statistics
        <set>
            <if test="docStatisticsDO.views!=null">
                views=views + #{views}
            </if>
            <if test="docStatisticsDO.collections!=null">
                collections=collections + #{collections}
            </if>
        </set>
        where doc_type = #{docType}
        and doc_id = #{docId}
    </update>
</mapper>